<div class="my_container">
  <h1 class="titre_1">Proposition d'échange</h1>

<div class="card_dashboard mb-4">
  <%= render partial: "shared/main_card", locals: {shift: @shift_answered, avatar: true} %>
</div>

  <div class="container mx-auto">
    <%= simple_form_for(@shift, url: url_for(action: 'create', controller: 'exchanges'), method: 'POST') do |f| %>
      <%= f.input :date, as: :date, html5: true  %>
      <%= f.input :line_id, collection: @lines, label: 'Lignes' %>
      <%= f.input :hour_start, label: 'Heure de début' %>
      <%= f.input :hour_end, label: Heure de fin' %>
      <%= f.input :working_hours, collection: (1..10) %>
      <%= f.input :working_minutes, collection: (0..60).select { |x| x%5 == 0 || x == 0}  %>
      <%= hidden_field_tag :shift_owner_id, @shift_answered.id %>
      <%= f.button :submit, "Nouvelle proposition", class: 'button_action'%>
      <%= f.button :submit, "ENVOYER", class: 'button_action'%>
    <% end %>

  </div>

<%# bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded %>
<%# bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded %>
</div>
