<h1>Shifts#new</h1>

<div class="container mx-auto">
  <%= simple_form_for @shift do |f| %>
  <%= f.input :date, input_html:{class: 'bg-white text-gray-600 px-1 rounded'} %>
  <%= f.input :line_id %>
  <%= f.input :hour_start %>
  <%= f.input :hour_end %>
  <%= f.input :working_hours %>
  <%= f.button :submit %>
  <% end %>
</div>

