
<!-- <div class="my_home_page">
  <div class="home_page_image">
    <h1 class="home_page_title">Exchange-it</h1> <br>
    <h2 class="home_page_baseline">Simplifiez-vous l'échange</h1>
    </div> -->

    <div class="">
      <div class="present">
        <p>Exchange It</p>
        <p>Simplifier vous l'échange</p>
      </div>
    </div>
    <div class="session-container container">
     <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div class="form-inputs">
      <%= f.input :email,
      placeholder: "user@example.com",
      required: false,
      autofocus: true,
      input_html: { autocomplete: "email" } %>
      <%= f.input :password,
      placeholder: "Entrez votre mot de passe",
      required: false,
      input_html: {
        autocomplete: "current-password",
        class: ''
        } %>
        <%= f.check_box :remember_me, checked: true, id: 'remember-me', class: 'hidden' %>
      </div>
    </div>


    <div class="container">
      <div class="form-log">
        <%= f.button :submit, "Log in", class: 'button_action'%>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>

