<div class="my_container">
  <h1 class= "titre_1">Accueil <%= "#{@current_user.first_name} #{@current_user.last_name}" %></h1>

  <h2 class= "titre_2">Echange(s) à venir (validé(s) par manager)</h2>

    <% @exchanges_validated.each do |exchange| %>
      <div class= "exchange_cards">
        <% shift_owner = Shift.find(exchange.shift_owner_id) %>
        <% shift_of_current_user = User.find(shift_owner.user_id) == current_user %>
        <% validated = User.find(shift_owner.user_id) != current_user %>
        <%= render partial: "shared/one_exchange-card", locals: { shift: shift_owner, shift_of_current_user: shift_of_current_user, validated: validated } %>

        <div class="exchange_symbol">
          <i class="fas fa-exchange-alt"></i>
        </div>
        <% shift_answer = Shift.find(exchange.shift_answer_id) %>
        <% shift_of_current_user = User.find(shift_answer.user_id) == current_user %>
        <% validated = User.find(shift_answer.user_id) != current_user %>
        <%= render partial: "shared/one_exchange-card", locals: { shift: shift_answer, shift_of_current_user: shift_of_current_user, validated: validated } %>
      </div>
    <% end %>


  <hr class="separation_bar">
  
  <h2 class= "titre_2">Service(s) disponible(s)</h2>

  <div class="filter mb-4 p-2">
    <form action="/dashboard" method="get" class="form_filter_class">
      <div class="filtres_date_ligne">
        <div class="filtre_date">
          <p>Date</p>
          <input type="date" name="date" class="champ_date bg-gray-200 rounded-lg" id="data-flatpickr" placeholder="Date">
        </div>
        <!-- Filtre par line -->
        <div class="filtre_ligne">
          <p>Ligne</p>
          <select name="line_id" class="champ_ligne bg-gray-200 rounded-lg">
            <option value="" ></option>
            <% @lines.each do |line| %>
              <option value="<%= line.id %>"><%= line.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <button class="button_filter">Filtrer</button>
    </form>
  </div>

  <% x = 1 %>
  <% @shifts.each do |shift| %>
    <div class="card_dashboard mb-4">
      <label for="<%= "ex_card_#{x}" %>" class="block mb-0">
        <%= render partial: "shared/main_card", locals: {shift: shift, avatar: true} %>
      </label>

      <input type="checkbox" id="<%= "ex_card_#{x}" %>" class="" name="test" style="opacity:0; position:absolute;">
      <%= render partial: "shared/main_card-detail", locals: {shift: shift} %>
    </div>

    <% x += 1 %>
    <% end %>


</div>

<%= render partial: "shared/bottom_navbar", locals: { home: true } %>
