
<h1 class="first_name">Dashboard <%= "#{@current_user.first_name} #{@current_user.last_name}" %></h1>

<h2>Demandes d'échange:</h2>

<div class="container">
  <!-- Filtre par date -->
  <form action="/dashboard" method="get">
    <input type="date" name="date">
    <!-- Filtre par line -->
    <select name="line_id">
      <option value=""></option>
      <% @lines.each do |line| %>
      <option value="<%= line.id %>"><%= line.name %></option>
      <% end %>
    </select>
    <button>Filtrer</button>
  </form>
</div>


<% @shifts.each do |shift| %>

<div class="card_dashboard">
  <p><%= link_to "Proposer un échange", shift_answer_path(shift.id), class: 'btn-success' %></p>
</div>

<% end %>

<div class="main">
  <div class="white"></div>
  <div class="grey">
    <span><%= link_to "My Shifts", my_shifts_path %></span>
    <p class="plus">
      <span><%= link_to "+", shift_new_path %></span>
    </p>
    <span><%= link_to "My Answers", my_answers_path %></span>
  </div>
  <div class="black"></div>
</div>


