<div class="my_container">
  <h1 class="titre_1">Mes réponses</h1>
  <h2 class="titre_2">Mes réponses acceptées</h2>

  <hr class="separation_bar">
  <div class="mt-4 mb-">
    <%# j'itère sur tous les shifts émetteurs qui ont fait l'objet d'une réponse acceptée %>
    <%@accepted_shifts.each do |shift|%>
      <div class= "exchange_cards">
        <%# je vérifie que la date de ce shift est bien ultérieure ou égale a la date du jour %>
        <% if shift.date >= Date.today %>
        <%# je commence par afficher chacun de ces shifts %>
        <% shift_of_current_user = User.find(shift.user_id) == current_user %>
        <%= render partial: "shared/one_exchange-card", locals: { shift: shift, shift_of_current_user: shift_of_current_user, validated: false} %>
          <div class="exchange_symbol">
            <i class="fas fa-exchange-alt"></i>
          </div>
        <%# pour chacun de ces shift, je vais ensuite chercher quel est le shift du répondant qui a été accepté %>
        <%# pour ca, il faut que j'identifie quel est l'exchange correspondant qui a un booléen accepted_owner = true %>
        <%# je vais donc itérer sur tous les exchanges associés à ce shift %>
          <%shift.exchange_answers.each do |exchange|%>
            <%# je teste si l'exchange en question a son accepted_owner = true  %>
            <%if exchange.accepted_owner == true %>
            <% shift_of_current_user = User.find(exchange.shift_answer.user_id) == current_user %>
              <%= render partial: "shared/one_exchange-card", locals: { shift: exchange.shift_answer, shift_of_current_user: shift_of_current_user, validated: false } %>
            <%end%>
          <%end%>
        <%end%>
      </div>
    <%end%>
  </div>
  <hr class="separation_bar">
  <h2 class="titre_2">Mes réponses en attente</h2>


    <div class="mb-4">
    <% @pending_shifts.each do |shift| %>
      <% if shift.date >= Date.today %>
        <div class="card_dashboard mb-1">
            <%= render partial: "shared/main_card", locals: { shift: shift, avatar: true } %>
        </div>

      <%shift.exchange_answers.each do |exchange|%>
        <% if exchange.accepted_owner == nil %>
          <%= render partial: "shared/main_card_answer", locals: { shift: exchange.shift_answer, highlight: true, avatar: false } %>
        <% end %>
      <% end %>
    <% end  %>
  <% end %>
  </div>
</div>
<%= render partial: "shared/bottom_navbar", locals: { home: false } %>
