<div class="my_answers">
  <h1 class="answers">Mes réponses</h1>
  <h2 class="accepted_answer">Mes réponses acceptées</h2>
  <br>
  <hr class="separation_bar">
  <br>
  <br>

    <%# j'itère sur tous les shifts émetteurs qui ont fait l'objet d'une réponse acceptée %>
    <%@accepted_shifts.each do |shift|%>
      <div class= "exchange_cards">
        <%# je vérifie que la date de ce shift est bien ultérieure ou égale a la date du jour %>
        <% if shift.date >= Date.today %>
        <%# je commence par afficher chacun de ces shifts %>
          <div class= "owner_shift_card">
            <div class="line">
              <p><%= shift.line.name %></p>
            </div>

            <div class="date_hours">
              <div class="date">
                <p><%= shift.date.strftime('%a/%m/%y') %></p>
              </div>


              <div class ="shift_hours">
                <div class="starting_hour">
                  <p id="start"> Début </p> 
                  <p> <%= shift.hour_start.strftime('%H:%M') %></p>
                </div>

                <div class="ending_hour">
                  <p id="end"> Fin </p> 
                  <p><%= shift.hour_end.strftime('%H:%M') %></p>
                </div>
              </div>

            </div>
          </div>

          <div class="exchange_symbol">
            <i class="fas fa-exchange-alt"></i>
          </div>

        <%# pour chacun de ces shift, je vais ensuite chercher quel est le shift du répondant qui a été accepté %>
        <%# pour ca, il faut que j'identifie quel est l'exchange correspondant qui a un booléen accepted_owner = true %>
        <%# je vais donc itérer sur tous les exchanges associés à ce shift %>
          <%shift.exchange_answers.each do |exchange|%>

            <%# je teste si l'exchange en question a son accepted_owner = true  %>
            <%if exchange.accepted_owner == true %>
              <%# dans ce cas, j'affiche le shift en question%>
              <div class= "answer_shift_card">
                <div class="line">
                  <p><%= exchange.shift_answer.line.name %></p>
                </div>

                <div class="date_hours">
                  <div class="date">
                    <p><%= exchange.shift_answer.date.strftime('%a/%m/%y') %></p>
                  </div>


                  <div class ="shift_hours">
                    <div class="starting_hour">
                      <p id="start"> Début </p> 
                      <p><%= exchange.shift_answer.hour_start.strftime('%H:%M') %></p>
                    </div>

                    <div class="ending_hour">
                      <p id="end">Fin </p>  
                      <p> <%= exchange.shift_answer.hour_end.strftime('%H:%M') %></p>
                    </div>
                  </div>

                </div>
              </div>
            <%end%>
          <%end%>
        <%end%>
      </div>
    <%end%>


  <br>
  <br>

  <hr class="separation_bar">

  <h2 class="waiting_answer">Mes réponses en attente</h2>


  <%# j'itère sur tous les shifts émetteurs qui n'ont pas encore fait l'objet d'une réponse acceptée %>
  <%@pending_shifts.each do |shift|%>

    <%# je vérifie que la date de ce shift est bien ultérieure ou égale a la date du jour %>
    <% if shift.date >= Date.today %>
      <%# je commence par afficher chacun de ces shifts %>
      <p>Demande originelle</p>
      <%= raw(ap shift)%>

      <%# pour chacun de ces shift, je vais ensuite chercher quel sont les shifts des répondants qui n'ont pas encore été acceptés %>
      <%# pour ca, il faut que j'identifie quel sont les exchanges correspondants qui ont un booléen accepted_owner = false %>
      <%# je vais donc itérer sur tous les exchanges associés à ce shift %>
      <p>réponse que j'avais faite qui n'a pas encore été choisie par le demandeur</p>
      <%shift.exchange_answers.each do |exchange|%>

        <%# je teste si l'exchange en question a son accepted_owner = nil  %>
        <%if exchange.accepted_owner == nil %>
          <%# dans ce cas, j'affiche le shift en question %>
          <%= raw(ap exchange.shift_answer)%>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</div>

<%= render partial: "shared/bottom_navbar", locals: { home: false } %>
