<div class="my_shifts">
  <h1>My Shifts</h1>
  <h2>Demandes en attentes validation manager</h2>

  <% @exchanges_pending_manager.each do |exchange| %>
  <div class= "exchange_cards">
    <div class= "owner_shift_card">
      <div class="line">
        <p><%= exchange.shift_owner.line.name %></p>
      </div>

      <div class="date">
        <p><%= exchange.shift_owner.date.strftime('%d/%m/%y') %></p>
      </div>

      <div class="starting_hour">
        <p>Début <br> <%= exchange.shift_owner.hour_start.strftime('%H:%M') %></p>
      </div>

      <div class="ending_hour">
        <p>Fin <br> <%= exchange.shift_owner.hour_end.strftime('%H:%M') %></p>
      </div>
    </div>

    <div class= "answer_shift_card">
      <div class="line">
        <p><%= exchange.shift_answer.line.name %></p>
      </div>

      <div class="date">
        <p><%= exchange.shift_answer.date.strftime('%d/%m/%y') %></p>
      </div>

      <div class="starting_hour">
        <p>Début <br> <%= exchange.shift_answer.hour_start.strftime('%H:%M') %></p>
      </div>

      <div class="ending_hour">
        <p>Fin <br> <%= exchange.shift_answer.hour_end.strftime('%H:%M') %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


  <br>
  <br>

  <h2>Demande en attentes de réponses / ou avec réponses</h2>

  <div class="mb-4">
    <% @shifts_and_answers.each do |owner, answers| %>
      <div class="card_dashboard p-2 mb-4">
        <% shift_owner = Shift.find(owner) %>
        <%= render partial: "shared/main_card", locals: { shift: shift_owner } %>
      </div>
      <% answers.each do |answer| %>
        <% answer.each do |shift_id, exchange_id| %>
          <% shift_answer = Shift.find(shift_id) %>
          <%= render partial: "shared/main_card_answer", locals: { shift: shift_answer } %> | <%=link_to 'Accepter', exchange_accepted_owner_path(exchange_id), class: "btn_accept_user"%>
        <% end %>
      <% end %>
    <% end  %>
  </div>


<h2>Historiques des demandes acceptées</h2>

<% @exchanges_validated.each do |exchange| %>
<%= raw(ap exchange) %>
<% end %>
</div> -->

<%= render partial: "shared/bottom_navbar", locals: { home: false } %>

