  <div class="my_container">
  <div class="titre_1 mb-4 other"><h1>Mes demandes</h1></div>

  <div class="">
  <div ><h2 class="titre_2 mb-3">En attente de validation</h2></div>
    <% if @exchanges_pending_manager.any? %>
      <% @exchanges_pending_manager.each do |exchange| %>
        <div class= "exchange_cards">
          <% if exchange.shift_owner.date >= Date.today %>
            <%# je commence par afficher chacun de ces shifts %>
            <% shift_of_current_user = User.find(exchange.shift_owner.user_id) == current_user %>
            <%= render partial: "shared/one_exchange-card", locals: { shift: exchange.shift_owner, shift_of_current_user: shift_of_current_user, validated: false } %>

            <div class="exchange_symbol">
              <i class="fas fa-exchange-alt"></i>
            </div>

            <% shift_of_current_user = User.find(exchange.shift_answer.user_id) == current_user %>
            <%= render partial: "shared/one_exchange-card", locals: { shift: exchange.shift_answer, shift_of_current_user: shift_of_current_user, validated: false } %>
          <%end%>
        </div>
      <%end%>
    </div>
  <% end %>

  <hr class="separation_bar">

  <div ><h2 class="titre_2 mb-3">En attente de réponses</h2></div>

    <% x = 1 %>
    <% @shifts_and_answers.each do |owner, answers| %>
    <div class="mb-4">
      <div class="card_dashboard mb-1">
        <% shift_owner = Shift.find(owner) %>
        <%= render partial: "shared/main_card", locals: { shift: shift_owner, avatar: false } %>
      </div>
      <% answers.each do |answer| %>
        <% answer.each do |shift_id, exchange_id| %>
          <% shift_answer = Shift.find(shift_id) %>

          <div class="card_answer_full">
            <label for="<%= "ans_card_#{x}" %>" class="block mb-0">
              <%= render partial: "shared/main_card_answer", locals: { shift: shift_answer, avatar: true, highlight: false } %>
            </label>

            <input type="checkbox" id="<%= "ans_card_#{x}" %>" class="" name="test" style="opacity:0; position:absolute;">
            <%= render partial: "shared/main_card_answer-detail", locals: {shift: shift_answer, exchange_id: exchange_id} %>
            <% x += 1 %>
          </div>

        <% end %>
      <% end %>
    </div>
    <% end  %>

<br>
<br>
<hr class="separation_bar">


<%= render partial: "shared/bottom_navbar", locals: { home: false } %>
