<div class="my_container">
  <div class="titre_1"><h1>Mes demandes en attente</h1></div>
  <div class="titre_2"><h2>En attentes validation du manager</h2></div>
  <hr class="separation_bar">

  <div class="mt-4 mb-">
    <% @exchanges_pending_manager.each do |exchange| %>
      <div class= "exchange_cards">
        <% if exchange.shift_owner.date >= Date.today %>
          <%# je commence par afficher chacun de ces shifts %>
          <% shift_of_current_user = User.find(exchange.shift_owner.user_id) == current_user %>
          <%= render partial: "shared/one_exchange-card", locals: { shift: exchange.shift_owner, shift_of_current_user: shift_of_current_user } %>

          <div class="exchange_symbol">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <% shift_of_current_user = User.find(exchange.shift_answer.user_id) == current_user %>
          <%= render partial: "shared/one_exchange-card", locals: { shift: exchange.shift_answer, shift_of_current_user: shift_of_current_user } %>

        <%end%>
      </div>
    <%end%>
  </div>


  <hr class="separation_bar">

  <div class="titre_2"><h2>En attentes de réponses / ou avec réponses</h2></div>

  <div class="mb-4">
    <% @shifts_and_answers.each do |owner, answers| %>
      <div class="card_dashboard p-2 mb-4">
        <% shift_owner = Shift.find(owner) %>
        <%= render partial: "shared/main_card", locals: { shift: shift_owner } %>
      </div>
      <% answers.each do |answer| %>
        <% answer.each do |shift_id, exchange_id| %>
          <% shift_answer = Shift.find(shift_id) %>
          <%= render partial: "shared/main_card_answer", locals: { shift: shift_answer } %> | <%=link_to 'ACCEPTER', exchange_accepted_owner_path(exchange_id), class: "button_action"%>
        <% end %>
      <% end %>
    <% end  %>
  </div>

<br>
<br>
<hr class="separation_bar">
<h2>Historiques des demandes acceptées</h2>

<% @exchanges_validated.each do |exchange| %>
<%= raw(ap exchange) %>
<% end %>

<%= render partial: "shared/bottom_navbar", locals: { home: false } %>
