<div class="my_shifts">
  <div class="shifts"><h1>Mes demandes en attente</h1></div>
  <div class="accepted_answer"><h2>Demandes en attentes validation manager</h2></div>

  <% @exchanges_pending_manager.each do |exchange| %>
    <div class= "exchange_cards">
  
      <% if exchange.shift_owner.date >= Date.today %>
        <%# je commence par afficher chacun de ces shifts %>
        <div class= "owner_shift_card">
          <div class="line">
            <p><%= exchange.shift_owner.line.name %></p>
          </div>

          <div class="date_hours">
            <div class="date">
              <p><%= exchange.shift_owner.date.strftime('%d/%m/%y') %></p>
            </div>

            <div class ="shift_hours">
              <div class="starting_hour">
                <p>Début <br> <%= exchange.shift_owner.hour_start.strftime('%H:%M') %></p>
              </div>
            
              <div class="ending_hour">
                <p>Fin <br> <%= exchange.shift_owner.hour_end.strftime('%H:%M') %></p>
              </div>
            </div>
          </div>
        </div>

        <div class= "answer_shift_card">
          <div class="line">
            <p><%= exchange.shift_answer.line.name %></p>
          </div>

          <div class="date_hours">
            <div class="date">
              <p><%= exchange.shift_answer.date.strftime('%d/%m/%y') %></p>
            </div>

            <div class ="shift_hours">
              <div class="starting_hour">
                <p>Début <br> <%= exchange.shift_answer.hour_start.strftime('%H:%M') %></p>
              </div>
            
              <div class="ending_hour">
                <p>Fin <br> <%= exchange.shift_answer.hour_end.strftime('%H:%M') %></p>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div> 
  <%end%>



  <br>
  <br>

  <div class="waiting_answer"><h2>Demande en attentes de réponses / ou avec réponses</h2></div>


  <% @shifts_and_answers.each do |owner, answers| %>
<!--   <div class = "answers-block">
    <div class = "shift-owner">
      <div class="line-owner">
        <p>C4</p>
      </div>
      <div class="date-owner">
        <p>Ven 11 Septembre</p>
      </div>
      <div class="heure-debut">
        <p>Debut:</p>
        <p>11:32</p>
      </div>
      <div class="heure-fin">
        <p>Fin:</p>
        <p>11:32</p>
      </div>
    </div>
    <div class = "shift-answers">
      <div class="line-answer">
        <p>C4</p>
      </div>
      <div class="date-answer">
        <p>Ven 11 Septembre</p>
      </div>
      <div class="heure-debut">
        <p>Debut:</p>
        <p>11:32</p>
      </div>
      <div class="heure-fin">
        <p>Fin:</p>
        <p>11:32</p>
      </div>
    </div> -->



<!--     <% answers.each do |answer| %>
    <% answer.each do |shift_id, exchange_id| %>
    <ul>
      <li> => <%= raw(ap Shift.find(shift_id)) %> | <%=link_to 'Accepter', exchange_accepted_owner_path(exchange_id), class: "btn_accept_user"%></li>
    </ul>
    <% end %>
    <% end %>
  </div>
</div>
<br>
<% end  %>

<p>Hash de :  "shift_owner" => [ {shifft_answers => exchange associés} ] </p>
<%= @shifts_and_answers %>
<br>
<br>

<h2>Historiques des demandes acceptées</h2>

<% @exchanges_validated.each do |exchange| %>
<%= raw(ap exchange) %>
<% end %>
</div> -->
<div class="main">
  <div class="white"></div>
  <div class="grey">
    <span><%= link_to "My Shifts", my_shifts_path %></span>
    <p class="plus">
      <span><%= link_to "Home", shift_new_path %></span>
    </p>
    <span><%= link_to "My Answers", my_answers_path %></span>
  </div>
  <div class="black"></div>
</div>
