<div class="my_container">
  <div class='flex justify-between mb-6'>
    <h1 class="titre_1">Supervision Dashboard</h1>
    <%= link_to "Historique", stat_path, class:"button_action hollow" %>
  </div>
  <% @exchanges.each do |exchange| %>
    <div class="exchange-review bg-gray-100 shadow-sm mb-4 rounded-lg">
      <p><strong>Exchange #<%= exchange.id %></strong></p>
      <div class="supervise_identities">
        <p><em><%= exchange.shift_owner.user.first_name %> <%= exchange.shift_owner.user.last_name %></em></p>
        <p><em><%= exchange.shift_answer.user.first_name %> <%= exchange.shift_answer.user.last_name %></em></p>
      </div>
      <div class ="exchange-review__overview">
        <div class= "exchange_cards">
          <div>
            <% shift_owner = Shift.find(exchange.shift_owner_id) %>
            <%= render partial: "shared/one_exchange-card", locals: { shift: shift_owner, shift_of_current_user: false, validated: false } %>
          </div>

          <div class="exchange_symbol">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <div>
            <% shift_answer = Shift.find(exchange.shift_answer_id) %>
            <%= render partial: "shared/one_exchange-card", locals: { shift: shift_owner, shift_of_current_user: false, validated: false } %>
          </div>
        </div>
      </div>
      <br>
      <div class="exchange-review__manager-answer mx-2">
        <%= simple_form_for exchange, url: exchange_path(exchange.id), method: 'PATCH', html: { class: "flex mx-auto justify-between items-center" } do |f| %>
          <%= f.input :accepted_manager, as: :radio_buttons, collection: [[true, 'Oui'], [false, 'Non']], label_method: :second, value_method: :first, label: 'Réponse :' %>
          <%= f.input :message, label: 'Commentaires :', input_html: { id: 'manager-answer__message' } %>
          <%= f.submit 'Envoyer', class:"button_action" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
