<h1 class="text-center text-2xl font-semibold mt-8">Supervises#home</h1>
<p>Find me in app/views/supervises/home.html.erb</p>

<div>
  <div class = "container">
    <% @exchanges.each do |exchange| %>
      <p><strong>Exchange #<%= exchange.id %></strong></p>
      <div class="exchange-review" style="display: flex">
        <div>
          <% shift_owner = Shift.find(exchange.shift_owner_id) %>
          <ul>
            <li>Date du shift: <%= shift_owner.date %></li>
            <li>Heure début: <%= shift_owner.hour_start.strftime("%H:%M") %></li>
            <li>Heure fin: <%= shift_owner.hour_end.strftime("%H:%M") %></li>
            <li>Owner ID : <%= shift_owner.user_id %></li>
            <li>Shift ID : <%= shift_owner.id %></li>
            <li>Working Hours: <%= working_hours_to_h(shift_owner) %></li>
          </ul>
        </div>
        <div>
          <% shift_answer = Shift.find(exchange.shift_answer_id) %>
          <ul>
            <li>Date du shift: <%= shift_answer.date %></li>
            <li>Heure début: <%= shift_answer.hour_start.strftime("%H:%M") %></li>
            <li>Heure fin: <%= shift_answer.hour_end.strftime("%H:%M") %></li>
            <li>Owner ID : <%= shift_answer.user_id %></li>
            <li>Shift ID : <%= shift_answer.id %></li>
          </ul>
        </div>

      </div>
      <br>
      <div class="exchange-review manager-answer">
        <%= simple_form_for(exchange, url: exchange_path(exchange.id), method: 'PATCH') do |f| %>
          <%= f.input :accepted_manager, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, label: "Accept?" %>
          <%= f.input :message, label: 'Enter your message to users', input_html: { id: 'manager-answer__message' } %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <br><br><br><br>
    <% end %>
  </div>
</div>
