<div class="my_supervise_stats_container px-4">
  <div class='flex justify-between mb-10'>
    <h1 class="titre_1 other">Historique des demandes d'échange </h1>
    <%= link_to "Back to dashboard", supervise_path, class:"button_action hollow" %>
  </div>

  <h2 class="text-xl mb-6"><%= Unit.find(current_user.unit_id).name %></h1>

  <div class="results-filter my-6">
    <!-- Filtre par date -->
    <form action="/supervise/stat" method="get">
      <label for="line_id">Date :</label>
      <input type="date" name="date" class="mr-4 border-b border-gray-300 p-2 flatpickr">
      <!-- Filtre par line -->
      <label for="line_id">Ligne :</label>
      <select name="line_id" class="w-32 border-b border-gray-300 mr-4 p-2">
        <option value="" disabled selected></option>
        <% @lines.each do |line| %>
          <option value="<%= line.id %>"><%= line.name %></option>
        <% end %>
      </select>
      <button class="button_action">Filtrer</button>
    </form>
  </div>

  <div class="table_centrage table overflow-x-scroll">
    <table class="w-full">
      <thead>
        <tr class="text-sm">
          <th class="border-0 ">Id.</th>
          <th class="border-0 ">Date</th>
          <th class="border-0 ">Ligne</th>
          <th class="border-0 ">Demandeur</th>
          <th class="border-0 ">Répondant</th>
          <th class="border-0 ">Date de création</th>
          <th class="border-0 ">Date de validation</th>
          <th class="border-0 ">Message</th>
        </tr>
      </thead>
      <tbody>
        <% @exchanges.each do |exchange| %>
        <% shift_owner = Shift.find(exchange.shift_owner_id) %>
        <% shift_answer = Shift.find(exchange.shift_answer_id) %>
        <% date = shift_owner.date %>
        <% line = Line.find(shift_owner.line_id).name %>
        <tr>
          <td><%= exchange.id %></td>
          <td><%= date %></td>
          <td><%= line %></td>
          <td><%= "#{User.find(shift_owner.user_id).first_name} #{User.find(shift_owner.user_id).last_name}"%></td>
          <td><%= "#{User.find(shift_answer.user_id).first_name} #{User.find(shift_answer.user_id).last_name}"%></td>
          <td><%= exchange.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= exchange.updated_at.strftime("%d/%m/%Y") %></td>
          <td><%= exchange.message %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
